<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>SkillsSwapper</title>
  <link rel="stylesheet" type="text/css" href="/resources/style.css">
</head>
<body>
  <% include partials/header.ejs %>
  <% include partials/user-navigation.ejs %>
  <% include partials/site-navigation.ejs %>
  <main>
    <ul class="breadcrumb">
      <li><a href="index">Home</a>&gt;</li>
      <li><a href="about">About</a></li>
    </ul>
    <div class ="aboutpage">
      <br>
    This project aims to develop a chatbot which helps universities and students to fill in on-campus job positions.The traditional approach of on-campus job hunting is to search for the open positions on the university portal (e.g. hire-a-niner) and apply for them on the website and/or contact the professors.  <br><br>
      <br><br>

The bot will ask a set of questions to narrow down the student’s interest. It would browse the jobs according to student’s skill set, number of year experience, open positions etc.The students can enquire about job positions he/she is interested in for example - Dining services, Graduate Assistantships, Teaching Assistant or the Research Assistant positions available and the bot can answer providing the information about the professors or the departments where students can contact for the job along with any other relevant information about the job position. Apart from the specific questions, the bot will also be used to answer the Frequently asked Questions (FAQ).
<br><br>
      We hope you get as much fun and happy times here as we're having creating it!

    </div>
  </main>
  <% include partials/footer.ejs %>

</body>
</html>
