<header>
  <img class = "im" src = "/resources/hire.png" alt ="logo">
  <img class = "im_right" src = "/resources/logo2.png" alt ="logo"> 
  <!-- <div class = "topview"><h1>UNC Charlotte</h1> -->
  <% if(user){%>
   <p class="rightHeader">Welcome <%=user%> </p>
   <%}%>

  </div>
</header>
