<nav>
  <ul class = "toplink">
    <% if(user){%>
    <li><a href = "/signout">Sign Out</a></li>
    <%}else{%>
    <li><a href = "/login">Sign In</a></li>
    <%}%>
    <li><a href="../registration">Register</a></li>

  </ul>
</nav>
